hmtl, body {
    background: #2d3939;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 18vh 80vh 2vh;
    grid-template-areas: "h h"
                         "a m"
                         "f f";
}

header {
    background: #2d3939;
    grid-area: h;
    text-align: center;
    color: #ffffff;
    font-size: 80%;    
}

main {
    background: #ffffff;
    grid-area: m;
}

aside {
    background: #ececec;
    grid-area: a;
    font-size: 85%;
    line-height: 21px;
}

footer {
    background: #2d3939;
    grid-area: f;
}


/* foto principal*/
#barral {
    box-sizing: content-box;
    background-color: #ececec;
    width: 110px;
    height: 110px;
    margin-left: 35%;
    border-radius: 50%;
}
/* foto principal*/


/* copiado do projeto anterior*/
/* ESTILOS DO CONTEUDO MAIN */
#semponto {
    list-style: none;
}

#sobre {
    line-height: 40px;
    text-align: left;
    text-decoration: underline;
    margin-left: 50px;
}
#xp   {
    line-height: 40px;
    text-align: left;
    text-decoration: underline;
    margin-left: 50px;
}
#forma {
    line-height: 40px;
    text-align: left;
    text-decoration: underline;
    margin-left: 50px;
}
#tecpref {
    line-height: 40px;
    text-align: left;
    text-decoration: underline;
    margin-left: 50px;
}
.sobre  {
    margin-left: 50px;
    list-style: none;
}
#hab {
    margin-left: 94px;
}
.tecs {
    margin-left: 50px;
}
.xp {
    text-decoration: none;
}
.par  {
    margin-left: 90px;
    list-style: none;
}
#corpo {
    background-color: #ffffff;
    width: auto; height: 820px; margin-top: -848px; box-sizing: content-box;
    margin-left: 340px;
    text-align: left;
}
/* ESTILOS DO CONTEUDO MAIN */